@model Category

<form method="post">
    <input asp-for="Id" hidden />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" disabled/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" disabled />
        <span asp-validation-for="Description" disabled class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-danger">Delete</button>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}